@using Hackathon.Models
@using Microsoft.Owin.Security
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
        <div id="banner">
            <h1 style="padding-bottom:120px;margin-top:0px;">
                S-a terminat Distractia
            </h1>

            <h1 style="padding-top:90px">
                Incepe Nebunia!!
            </h1>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="registrationform">
            <div class="form-horizontal">
                <fieldset>
                    <legend>Login <i class="fa fa-pencil pull-right"></i></legend>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                    <div class="form-group">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <span id="Label1" class="col-lg-3 control-label">Email</span>
                        <div class="col-lg-9">
                            @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @name = "TextBox1", @id = "TextBox1", @type = "text", @class = "form-control", @placeholder = "Email"})
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <span id="Label2" class="col-lg-3 control-label">Password</span>
                        <div class="col-lg-9">
                            @Html.PasswordFor(m => m.Password, htmlAttributes: new { @name = "TextBox2", @id = "TextBox2", @class = "form-control", @placeholder = "Password",})
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.RememberMe, htmlAttributes: new { @id = "CheckBox1", @type = "checkbox", @name = "CheckBox1" }) Remember Me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-4">
                            <input type="submit" name="btnSubmit" value="Submit" id="btnSubmit" class="btn btn-primary" />
                            
                        </div>
                    </div>
                    }
                    @{var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes(); }
                    @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
                    @Html.AntiForgeryToken()
                    <div id="socialLoginList" class="col-lg-9 col-lg-offset-3">
                        <input type="submit" class="btn btn-default btn-warning" id="Facebook" name="provider" value="Facebook" title="Log in using your Facebook account" />
                    </div>
                    }
                </fieldset>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
